body {
  background-image: url(../images/ugly-sweater2.png);
  font-family: 'Open Sans', sans-serif;
  overflow-x: none;
  overflow-y: none;
}

img {
  image-rendering: crisp-edges;
}

#imageheader {
  margin: auto;
  text-align: center;
}

#container {
  width: 55%;
  padding: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #4b692f;
  margin: auto;
  position: absolute;
}

#inputcontainer {
  display: inline-block;
  margin: auto;
}

#main {
  text-align: center;
  color: #000000;
}
