body {
  background-image: url(../images/ugly-sweater3.png);
  font-family: 'Sanchez', serif;
  font-size: 18;
  overflow-x: hidden;
  overflow-y: scroll;
}

img {
  image-rendering: crisp-edges;
}

#imageheader {
  margin: auto;
  text-align: center;
}

#container {
  border: 3px solid #ffffff;
  width: 55%;
  height: 100%;
  padding: 10px;
  padding-top: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #7f946b;
  margin: auto;
  position: absolute;
  overflow: auto;
}

#inputcontainer {
  display: inline-block;
  margin: auto;
  width: 33%;
  text-align: center;
}

#main {
  text-align: center;
  color: #000000;
}
