<html>

<head>
  <title>Secret Santa - {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/standard.css')}}">
  <link rel="icon" href="{{url_for('static', filename='images/santahat_no_dec.png')}}">
</head>

<body>
  <div id="container">
      <div id="imageheader">
      <img src="{{url_for('static', filename='images/santahat_snowflakes.gif')}}" alt="santa hat" width=88px height=73px></img>
      <img src="{{url_for('static', filename='images/ssstitle.png')}}" alt='simple secret santa title'></img>
      <img src="{{url_for('static', filename='images/santahat_snowflakes.gif')}}" alt="santa hat" width=88px height=73px></img>
    </div>
    <br>
    <div id='textbody'>
      {% block content %}{% endblock %}
    </div>
    <div id='footer'>
      Thank you for visiting! Please check my source code out on <a href="https://github.com/wizmariefa/simple-santa">Github.</a>
    </div>
  </div>
</body>

</html>
