{% extends "general.html" %}
{%block content %}
Please input the names and numbers of your participants.<br>
<b>If you don't check the 'text' box, then you will be redirected to a page with the names and assignments.</b><br>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div id="inputcontainer">
    <h3>Names of Participants</h3>
    <p>{% for name in form.names %}
      {{ name }}
      {% endfor %}
      <br>
      {% for error in form.names.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
  </div>
  <div id="inputcontainer">
    <h3> Phone Numbers </h3>
    <p>
      {% for contact_info in form.contact_info %}
        {{ contact_info }}
        {% endfor %}
      <br>
      {% for error in form.contact_info.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
  </div>
  <p>
    {{ form.text() }} {{ form.text.label() }}
  </p>
  <p>{{ form.submit() }}</p>
</form>
{% endblock %}
