<html>

<head>
  <title>SSS: Results!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='stylesheets/standard.css')}}">
</head>

<body>
  <div id="container">
    <div id="imageheader">
      <img src="{{url_for('static', filename='images/santahat_snowflakes.gif')}}" alt="santa hat" width=88px height=73px></img>
      <img src="{{url_for('static', filename='images/simplesanta-title.png')}}" alt='simple secret santa title' width=313px height=88px></img>
      <img src="{{url_for('static', filename='images/santahat_snowflakes.gif')}}" alt="santa hat" width=88px height=73px>></img>
    </div>
    <div id='main'>
      {% for person in namelist %}
        <b>{{ person }}</b> is assigned to gift to <b>{{namelist.get(person)}}</b> <br><br>
      {% endfor %}

    </div>
  </div>
</body>

</html>
